.current-chip-container {
    width: 100%;
    max-width: 768px;
    margin: auto;
    text-align: center;
    .chip-amount {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 40px;
      margin-bottom: 1rem;
      .btn {
        position: absolute;
        top: 0; left: 0; bottom: 0;
        width: auto;
        margin: 0;
        font-weight: 700;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        &.chip-won {
          position: absolute;
          top: 0; right: 0; bottom: 0;
        }
        span {
            color: red;
            font-size: 2rem;
            line-height: 1rem;
            margin: 0 0 0 1rem;
        }
      }
    }
    .btn {
      margin: 0 0 1rem 0;
    }
  }